.todos__create, .task__create {
    position: relative;
    margin-top: 0.5rem;
}

.todos__create-input, .task__create-input {
    max-width: 340px;
    border: solid 1px $color_gray;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.todos__create-label {
    position: absolute;
    left: 15px;
    color: $color_gray;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.todos__create-input:focus, input:valid {
    outline: none;
    border: 1px solid $color_focus;
    color: $color_focus;
    font-weight: 600;
}

.todos__create-input:focus ~ label, .todos__create-input:valid ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: $color_primary;
    color: $color_focus;
    padding: 0 0.2rem;
    font-weight: 600;
}

.subtask__create {
    position: relative;
    margin-top: 0.25rem;
    margin-left: 1.5rem;
}
.subtask__create-input {
    font-size: 0.9rem;
    width: 100%;
    padding: 0.25rem 0.5rem;
    border: none;
    border-bottom: 1px solid $color_primary;
    background-color: $color_secondary;
}
.subtask__create-border {
    position: absolute;
    background-color: $color_focus;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}
.subtask__create-input:hover {
    background-color: $color_primary;
}

.subtask__create-input:focus {
    outline: none;
}

.subtask__create-input:focus ~ .subtask__create-border{
    width: 100%;
}
