// Breakpoints map
$breakpoints: (
  "small": 600px,
  "medium": 768px,
  "large": 1024px,
  "x-large": 1600px
) !default;

$font_primary: 'Klee One', cursive;
$font_secondary: 'Lato', sans_serif;

$color_primary: #f7f6f2;
$color_secondary: #ffffff;
$color_hover: #ACCBBE;
$color_focus:  #a3499a;
$color_black: #1f1f1f;
$color_gray: #727171;
